.top .title {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
}
.top .title p {
  position: absolute;
  top: 0;
  right: 11rem;
  font-size: 1.4rem;
  font-family: "Monoton", sans-serif;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}
.menu {
  position: relative;
  border-right: solid 3px white;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
}
.menu .menunav {
  width: 50px;
  height: 50px;
  background: linear-gradient(to bottom, #ef60cc, #6e3892);
  border: solid 1px #ff85da;
  margin: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}
.menu .menunav:hover {
  box-shadow: 0px 10px 20px rgba(255, 255, 0, 0.7);
}
.menu .menunav:active {
  opacity: 20%;
}
.menu .ok1 {
  width: 50%;
  height: auto;
}
.menu .ok2 {
  width: 70%;
  height: auto;
}
.menu .ok3 {
  width: 90%;
  height: auto;
}
.top {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
}
.top .recent {
  font-size: 1.4rem;
  position: absolute;
  top: 1.3rem;
  left: 1.3rem;
  height: 5px;
  margin-left: 60px;
}
.defvid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow-y: auto;
  height: 100%;
  padding: 2rem;
  gap: 1rem;
  margin: 0;
}
.defvid .upload-icon {
  width: 250px;
  height: 150px;
  background-color: gray;
  border-radius: 20px;
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.defvid .upload-icon {
  width: 250px;
  height: 150px;
  background-color: gray;
  border-radius: 20px;
  margin-right: 1.8rem;
  margin-left: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.defvid .upload-icon img {
  width: 50px;
  height: 50px;
  box-shadow: none !important;
}

.defvid .vids {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 150px;
  border-radius: 20px;
  margin: 1.8rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  border: none;
}

.defvid .vids img {
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.defvid .vids:hover {
  transform: scale(1.1);
}

.defvid .vids:active {
  transform: scale(0.9);
}
.defvid .vids .des {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.des .des1 {
  margin-right: auto;
}

.des .des2 {
  margin-left: auto;
  width: 1.25rem;
}

@media only screen and (max-width: 700px) {
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: row;
    border-right: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 9999;
    padding: 0;
    background: linear-gradient(to bottom, #ef60cc, #6e3892);
  }
  .menu .menunav {
    padding: 0;
    margin: 15px;
  }
  .defvid {
    margin-top: 6rem;
    justify-content: center;
    padding-bottom: 20rem;
  }
  .defvid .vids {
    transform: scale(0.8);
    margin: 1rem;
  }
  .defvid .upload-icon {
    transform: scale(0.8);
    margin: 0.3rem;
  }
  .defvid .vids:hover {
    font-size: 1rem;
  }
  .des {
    display: flex;
    flex-direction: row;
  }
  .top {
    width: 100%;
  }
  .top .recent {
    margin-top: 1.2rem;
  }
  .top .recent {
    font-size: 20px;
  }
  .top .title p {
    right: 4rem;
  }
}
