.game.game--prepare > .prepare {
  display: flex;
}

.prepare .vidcamera {
  width: 100vw;
  height: 100vh;
  transform: scaleX(-1);
  object-fit: cover;
}
.prepare .vidback {
  z-index: 9999;
  position: absolute;
  right: 50px;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 50%;
}
.prepare .vidback:hover {
  opacity: 100%;
}
.prepare .vidback img {
  transform: rotate(90);
  width: 60px;
  height: 60px;
}
.prepare .status-text {
  position: absolute;
  z-index: 9999;
  left: 50%;
  top: 64px;
  transform: translateX(-50%);
}

.loader {
  position: absolute;
  right: 100%;
  transform: scale(0.5) translateY(-75%);
}

@media only screen and (max-width: 700px) {
  .prepare .vidback {
    top: 40px;
    right: 20px;
  }
  .prepare .vidback img {
    width: 20px;
    height: 20px;
  }
}
