.container{
    display: flex;
    flex-direction: row;
    font-family: 'montserrat';
    height: 100vh;
}
.menu{
    position: relative;
    width: 10%;
    border-right: solid 1px black;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.menu .menunav{
    width: 50px;
    height: 50px;
    background-color: black;
    margin: 50px;
}
.top{
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
}
.top .recent{
    font-size: 25px;
    margin-left: 15%;
}
.defvid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.defvid #video-upload{
    display: none;
}
.defvid  .upload-icon{
    width: 200px;
    height: 100px;
    background-color: gray;
    border-radius: 20px;
    margin-right: 50px ;
    margin-left: 50px;
}
.defvid .vids {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    margin: 50px;
}
.defvid .vids img{
    border-radius: 20px;
}
.defvid .vids .des{
    display: flex;
    flex-direction: row;
    position: relative;
}
.des .des1{
    margin-right: auto;
}
.des .des2{
    margin-left:auto;
}