<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dance to the Beat</title>
    <script type="importmap">
      {
        "imports": {
          "stimulus": "{{ url_for('static', filename='dist/stimulus.min.js') }}"
        }
      }
    </script>
    <script src="{{ url_for('static', filename='dist/turbo.min.js')}}"></script>

    {% assets filters="jsmin", output="gen/bundle.js", "dist/turbo.min.js",
    "dist/socket.io.min.js" %}
    <script src="{{ASSET_URL}}"></script>
    {% endassets %} {% assets 'controllers' %}
    <script type="module" src="{{ ASSET_URL }}"></script>
    {% endassets %} {% assets "styles" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %} {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
