<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dance to the Beat</title>
        {% assets filters="jsmin", output="gen/bundle.js", "dist/htmx.min.js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% block head %}{% endblock %}
    </head>
    <body hx-boost="true">
        {% block body %}{% endblock %}
    </body>
</html>
