{% extends 'base.html' %}
{% block body %}
    <div data-controller="game"
         {% if reference_id is not none %}data-reference-id="{{ reference_id }}"{% endif %}
         data-game-prepare-class="game--prepare"
         data-game-dance-class="game--dance"
         data-game-score-class="game--score"
         class="game">
        <div class="prepare">
            <div class="status-text">
                <div class="lds-ring loader" data-game-target="statusLoader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <span data-game-target="statusText"></span>
            </div>
            <div class="vidback">
                <a href="{{ url_for("app.home") }}">
                    <img src="{{ url_for('static', filename='images/exit-icon.svg') }}"
                         alt="upload video">
                </a>
                <p>Press X to exit</p>
            </div>
            <video class="vidcamera"
                   id="prepare-camera"
                   autoplay
                   data-game-target="camera">
            </video>
        </div>
        <div class="dance">
            <canvas class="dance-bg" data-game-target="referenceBg"></canvas>
            <div class="dance-overlay"></div>
            <video class="dance-video" data-game-target="reference">
            </video>
        </div>
        <div class="score">
            <div class="topscore">
                <div class="topscore1">
                    <p>Dance To The Beat</p>
                </div>
                <div class="topscore2">
                    <img class="topscore2-star"
                         src="{{ url_for('static', filename='images/tripplestar-icon.svg') }}"
                         alt="star">
                    <p>High Score</p>
                </div>
            </div>
            <div class="midscore">
                <div class="midscore1">
                    <img src="https://placehold.co/150x150" alt="star">
                    <p>80</p>
                </div>
                <div class="midscore2">
                    <img class="highest"
                         src="{{ url_for('static', filename='images/crown-icon.svg') }}"
                         alt="crown">
                    <img class="pic" src="https://placehold.co/150x150" alt="star">
                    <p>90</p>
                </div>
                <div class="midscore3">
                    <img src="https://placehold.co/150x150" alt="star">
                    <p>85</p>
                </div>
            </div>
            <div class="botscore">
                <div class="botscore1">
                    <p>Retry</p>
                    <img src="{{ url_for('static', filename='images/retry-icon.svg') }}"
                         alt="retry">
                </div>
                <a href="{{ url_for("app.home") }}">
                    <div class="botscore2">
                        <p>Main Menu</p>
                        <img src="{{ url_for('static', filename='images/mainmenu-icon.svg') }}"
                             alt="mainmenu">
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
