{% extends 'base.html' %}
{% block head %}
    {% assets filters="jsmin", output="gen/home.bundle.js", "home.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
{% block body %}
    <input type="file" id="video-upload" accept="video/mp4" />
    {% for i in range(10) %}
        <div>
            <a href="/prepare/{{ i }}">
                <img src="https://placehold.co/200x100" alt="">
            </a>
        </div>
    {% endfor %}
{% endblock %}
