{% extends 'base.html' %}
{% block head %}
    {% assets filters="jsmin", output="gen/home.bundle.js", "home.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
{% block body %}
    <input type="file" id="video-upload" accept="video/mp4" />
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reprehenderit, neque reiciendis et deserunt accusantium eligendi, ipsum nulla corrupti qui, beatae nemo! Id adipisci porro voluptatum corporis in aliquam quasi!
    </p>
{% endblock %}
